    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <h2>นครศรีธรรมราช</h2>
                <p>นตรศรีธรรมราย เป็นจังหวัดอยู่ทางภาคใต้ของประเทศไทยมีภูมิประเทศเป็นที่ราบสูง  และเป็นที่ลุงตามชายฝั่งทะเลอ่าวไทย มีอาณาเขตที่ติดต่อกับจังหวัด สุราษฎร์ธานี พัทลุง สงขลา ตรัง และ กระบี่ ด้วยความที่ตัวจังหวัดมีความอุดมสมบูรณ์ทางธรรมชาติและวัฒณธรรมอันเก่าแก่ นครศรีธรรมรายจึงเป็นอีกหนึ่งทางเลือกสำหรับผู้ที่ชอบการท่องเที่ยวและอยากสัมพัสบรรยากาศที่ดี เพราะนี้คือจังหวัด นครศรีธรรมราช</p>
            </div>
        </div>
    </section>